/* Items Styles */
.card {
  background-color: rgba(27, 26, 32, 0.7);
  color: #ffffff;
  border-radius: 25px;
  box-shadow: 10px 10px 5px rgba(27, 26, 32, 0.4);
}

.card-image {
  width: 270px;
  height: 200px;
}

.btn-add {
  background-color: rgba(27, 26, 32);
  color: #fff;
  padding: 15px 0;
  width: 80%;
  cursor: pointer;
  transition: background-color 0.2s;
}

.btn-add:hover {
  background-color: #eabf00;
}
