
/* Items Styles */
.card {
  background-color: #EEFBFB;
  color: #232323;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 25px;
  box-shadow: 10px 10px 5px rgba(238, 251, 251, 0.4);
}

.card .card-image .card-title{
  color: black;
  font-weight: 400
}


/* Shopping Cart Styles */
.collection .collection-item{
  display: flex;
}

.checkout, .shop {
  color: #EEFBFB;
}

.collection .collection-item img{
  width: 200px;
}